@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  @apply bg-[#FEFCFA] text-[#2B2A26] font-sans antialiased selection:bg-[#D9A6A0] selection:text-[#6E2A34];
}
